<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518350242242-sogk37hn30clq682750vlailnprhtqv1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518350242242-sogk37hn30clq682750vlailnprhtqv1</string>
	<key>API_KEY</key>
	<string>AIzaSyCp3W3XewQsn6Wlt4z5dzcWXD3kD2flQA0</string>
	<key>GCM_SENDER_ID</key>
	<string>518350242242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jen.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-cc3dd</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-cc3dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518350242242:ios:b88d3808073c0c76b8165b</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-cc3dd.firebaseio.com</string>
</dict>
</plist>